Dear <%= session[:name] %>,
<p>
A diligent citizen has observed a matter of concern that requires your attention. <br />
Please find attached a photo of said matter at <a href="http://maps.google.com/?q=<%= session[:address] %>" target="_blank"><%= session[:address] %></a>.
</p>
Best Regards, <br />
Tell The Mayor Team