<h1>Tell The Mayor</h1>
<img src="/images/Mayor_Yardsign.png">
<h4>What will you tell the Mayor?</h4>

<form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">   
      <input id="image-upload" type='file' name='myfile'></input>
</form>