
<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Summary of Your Concern</h2>

                <h3 class="section-subheading text-muted">You have uploaded a photo of a civic concern in <a href="http://maps.google.com/?q=<%= @image.get_address %>"><%= @image.get_address %></a>. Select a concern label from the drop down menu and we'll send an email on your behalf to Mayor <%= @mayor.name %>!</h3>
            </div>

            <div class="row">
                <div class="container">
                  <form role="form">
                    <div class="form-group">
                      <label for="dropdown-concern">How would you categorize your Civic Concern? (select one):</label>
                      <br>
                      <select class="form-control" id="dropdown-concern">
                        <option id="01">Vandalism of Public Property</option>
                        <option id="02">Untidiness or Litter of a Public Space</option>
                        <option id="03">Excessive Loitering</option>
                        <option id="04">Safety Concerns or Public Danger</option>
                        <option id="05">Disturbance of the Peace</option>
                        <option id="06">Unlicensed Vendor</option>
                        <option id="07">Suspicious or Unlawful Behaviour</option>
                    </select>
                </div>
            </form>
        </div> 
        <br>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter Your email if you would like a copy (optional) *" id="email" required data-validation-required-message="Please enter your email address (optional).">
            <p class="help-block text-danger"></p>
        </div>
            
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <img src="uploads/<%= @filename %>" title="See My Photo"><p="" class="img-responsive center-block">
            </div>
        </div>

    <div class="clearfix"></div>
 
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-block" data-somestringvalue-text="Message Sent!" autocomplete="off">Send Message</button>
           
        </div>
    </div>

