
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2  id="summary-heading" class="section-heading">
                    Summary of Your Concern
                </h2>
                <h4 class="section-subheading text-muted" align="justify">
                    You have uploaded a photo of a civic concern in <br>
                    <a href="http://maps.google.com/?q=<%= @image.get_address %>" target="_blank"><%= @image.get_address %></a>.</br>
                    Select a concern label from the drop down menu and we'll send an email on your behalf to <br>
                    Mayor <em id="mayor-name"><%= @mayor.name %></em>!
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
          <form >
            <div class="col-md-6 col-md-offset-3">
              <label for="dropdown-concern">How would you categorize your Civic Concern? (select one):</label>
              <br>
              <select class="form-control" id="dropdown-concern">
                <option id="01">Vandalism of Public Property</option>
                <option id="02">Untidiness or Litter of a Public Space</option>
                <option id="03">Excessive Loitering</option>
                <option id="04">Safety Concerns or Public Danger</option>
                <option id="05">Disturbance of the Peace</option>
                <option id="06">Unlicensed Vendor</option>
                <option id="07">Suspicious or Unlawful Behaviour</option>
              </select>
            </div>
        </form>
    <br>
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <input type="email" class="form-control" placeholder="Enter Your email if you would like a copy (optional) *" id="user_email" required data-validation-required-message="Please enter your email address (optional).">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <img src="uploads/<%= @filename %>" class="center-block" alt="Attn: Mayor, This is a problem." class="img-responsive center-block">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="container">
            <div class="clearfix">
                <div class="col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-primary btn-block" data-somestringvalue-text="Message Sent!" autocomplete="on">Send Message</button>
                </div>
            </div>

        </div>
    </div>

</div>
